workspace "web" {
    open-on-output "Dell Inc. DELL P2423D 3MVZG64"
}
workspace "com" {
    open-on-output "Dell Inc. DELL P2423D 3MVZG64"
}
workspace "doc" {
    open-on-output "Dell Inc. DELL P2423D 3MVZG64"
}

window-rule {
    match at-startup=true app-id="element"
    open-on-workspace "com"
    default-column-width { proportion 0.5; }
}
window-rule {
    match at-startup=true app-id="thunderbird"
    open-on-workspace "com"
    default-column-width { proportion 0.5; }
}
window-rule {
    match at-startup=true app-id="firefox-devedition"
    open-on-workspace "web"
    open-maximized true
}
window-rule {
    match at-startup=true app-id="org.zealdocs.zeal"
    open-on-workspace "doc"
    open-maximized true
}

output "Dell Inc. DELL P2425H 4NQDJ74" {
    position x=0 y=0
    scale 1
}
output "Dell Inc. DELL P2423D 3MVZG64" {
    position x=1920 y=0
    scale 1
}
