workspace "web" {
    open-on-output "DP-2"
}
workspace "mel" {
    open-on-output "DP-2"
}
workspace "doc" {
    open-on-output "DP-2"
}

window-rule {
    match at-startup=true app-id="thunderbird"
    open-on-workspace "mel"
    open-maximized true
}
window-rule {
    match at-startup=true app-id="firefox-devedition"
    open-on-workspace "web"
    open-maximized true
}
window-rule {
    match at-startup=true app-id="org.zealdocs.zeal"
    open-on-workspace "doc"
    open-maximized true
}

output "DP-1" {
    position x=0 y=0
    scale 1
}
output "DP-2" {
    position x=3840 y=0
    scale 1
}
