.vim/.netrwhist
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
__pycache__

xmonad.errors
xmonad.hi
xmonad.o
xmonad-x86_64-linux

.config/ipython/profile_*/security
.config/ipython/profile_*/startup/README
.config/ipython/profile_*/static/
.config/ipython/profile_default/

.config/fish/fish_history*
.config/fish/fishd.*
.config/fish/generated_completions
.aria2/dht.dat
.config/ipython/nbextensions/mathjax/

