[submodule "vim-fish"]
	path = vim-fish
	url = git://github.com/aliva/vim-fish.git
[submodule "vim-ipython"]
	path = vim-ipython
	url = git://github.com/ivanov/vim-ipython.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "jedi-vim"]
	path = jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:nim65s/oh-my-zsh.git
