[submodule "vim-fish"]
	path = vim-fish
	url = git@github.com:aliva/vim-fish.git
[submodule "vim-ipython"]
	path = vim-ipython
	url = git@github.com:ivanov/vim-ipython.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:nim65s/oh-my-zsh.git
[submodule "vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim-signify"]
	path = .vim/bundle/vim-signify
	url = git@github.com:mhinz/vim-signify.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule "virtualfish"]
	path = .config/fish/virtualfish
	url = git@github.com:adambrenecki/virtualfish.git
