[user]
    name = Guilhem Saurel
    email = guilhem.saurel@gmail.com
    signingkey = 4653CF28
[diff]
    tool = vimdiff
[difftool]
    cmd = vimdiff
    prompt = false
[pager]
    diff =
[core]
    excludesfile = ~/dotfiles/gitignore
[push]
    default = matching
[merge]
    tool = vimdiff
[flake8]
    max-line-length = 160
    ignore = E128,E123,E126
[alias]
    lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
    git = !exec git
[color]
    ui = always
    branch = always
    diff = always
    interactive = always
    status = always
[url "git@gepgitlab.laas.fr"]
    insteadof = git@eur0c.laas.fr
