#safe_sync = yes
download_rate = 0
upload_rate = 0
directory = .
schedule = watch_directory,5,5,load_start=*.torrent
schedule = untied_directory,5,5,stop_untied=*.torrent
port_range = 6890-6999
use_udp_trackers = yes
session = .rtorrent.session
