akismet
beautifulsoup4
django-app-namespace-template-loader
django-autocomplete-light==1.4.9
django-blog-zinnia
django-braces
django_compressor
django-dajax
django-dajaxice
django-disqus
django-mptt
django-sekizai
django-tinymce
django-widget-tweaks
pillow
python-levenshtein
python-memcached
pytz
rarfile
requests
zinnia-theme-bootstrap
