django-autocomplete-light
django-braces
rarfile
django-dajax
django-dajaxice
django-tinymce
django-sekizai
pytz
python-levenshtein
python-memcached
requests
django-blog-zinnia
akismet
django-disqus
django_compressor
zinnia-theme-bootstrap
django-widget-tweaks
django-app-namespace-template-loader
django-mptt
