workspace "doc" {
    open-on-output "GK0KD2A6A5GL"
}
workspace "web" {
    open-on-output "U28D590"
}
workspace "alt" {
    open-on-output "Unknown"
}

window-rule {
    match at-startup=true app-id="org.zealdocs.zeal"
    open-on-workspace "doc"
    default-column-width { proportion 0.5; }
}
window-rule {
    match at-startup=true app-id="firefox-devedition"
    open-on-workspace "web"
    default-column-width { proportion 0.5; }
}
window-rule {
    match at-startup=true app-id="kitty"
    open-on-workspace "web"
    default-column-width { proportion 0.5; }
}
window-rule {
    match at-startup=true app-id="Element"
    open-on-workspace "alt"
    default-column-width { proportion 0.65; }
}
window-rule {
    match at-startup=true app-id="thunderbird"
    open-on-workspace "alt"
    default-column-width { proportion 0.65; }
}
window-rule {
    match at-startup=true app-id="com.saivert.pwvucontrol"
    open-on-workspace "alt"
    default-column-width { proportion 0.35; }
}

output "HDMI-A-1" {
    position x=0 y=180
    scale 1
}
output "DP-1" {
    position x=1920 y=0
    scale 1.5
}
output "DP-2" {
    position x=3840 y=0
    scale 1.5
}
