workspace "com" {
}
workspace "web" {
}

window-rule {
    match at-startup=true app-id="Element"
    open-on-workspace "com"
    default-column-width { proportion 0.66667; }
}
window-rule {
    match at-startup=true app-id="thunderbird"
    open-on-workspace "com"
    default-column-width { proportion 0.66667; }
}
window-rule {
    match at-startup=true app-id="firefox-devedition"
    open-on-workspace "web"
    default-column-width { proportion 1.0; }
}
